doctype html
html
  head
    title Hello-Express
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js")
    script(src="/js/script.js")
    link(href="/css/styles.css", rel="stylesheet")
  body
    #header
      h1 挨拶-エクスプレス
    #container
      p 何ですか？！
      button#button やった〜！

      #user
        if !username
          form#username(method="post" input type = "submit")
            p 今日は！名前のですか？
            input#name(name="username")
            button#nameEntry 出す
        else
          p= "Welcome" + ' ' + username + '!!'